<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="khanqah_style.css">
  <link rel="stylesheet" href="khanqah_responsive.css">

  <!-- BOOTSTRAP LINK -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Google Fonts LINKS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- FONT-AWESOME LINK -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- ANIMATE ON SCROLL LINK -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <title>Khanqah Kulli Sharif</title>
</head>

<body>


  <!-- ---------------------------------HEADER SECTION----------------------------------- -->
  <header>
    <!-- class="position-absolute top-0 start-50 translate-middle-x" -->
    <div id="logo" class="position-fixed top-0 text-center position-relative">
      <a href="index.html"><img src="images/logos/khanqah Logo 1.png" alt="Khanqah Logo"></a>
      <nav class="navbar navbar-collapse navbar-collapse-sm navbar-expand-md navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button id="line-button" class="navbar-toggler position-relative start-50 translate-middle-x" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse text-start" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center flex-md-wrap flex-lg-wrap w-100">
              <li class="nav-item"> <a class="nav-link to_upper active" id="lies" href="index.html">HOME</a> </li>
              <li class="nav-item"> <a class="nav-link to_upper" id="lies" href="intro.html">INTRODUCTION</a> </li>
              <li class="nav-item"> <a class="nav-link to_upper" id="lies" href="message.html">MESSAGE</a> </li>
              <li class="nav-item dropdown">
                <a class="nav-link to_upper dropdown-toggle" id="lies" href="#" id="offcanvasNavbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROJECTS
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" id="drop-down">
                  <li><a class="dropdown-item to_upper" id="lies" href="educational_project.html">Educational
                      Projects</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="idara_project.html">Idara Projects</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="welfare_project.html">Welfare Projects</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="youth-wing.html">Youth wing Projects</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link to_upper dropdown-toggle" id="lies" href="#" id="offcanvasNavbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  EVENTS
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" id="drop-down">
                  <li><a class="dropdown-item to_upper" id="lies" href="ruhaniijtima_events.html">ruhaniijtima</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="Salana_Majlas-e-Isal-e-sawab.html">Salana
                      Majlas-e-Isal-e-sawab</a>
                  </li>
                  <li><a class="dropdown-item to_upper" id="lies" href="Salana_Majlas-e-shabina.html">Salana
                      Majlas-e-shabina</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="taswafseminar_events.html">taswaf seminar</a>
                  </li>
                  <li><a class="dropdown-item to_upper" id="lies" href="ursmubarak_events.html">ursmubarak</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="visits_events.html">visits</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="Weekly_Majlas-e-Zikr.html">Weekly
                      Majlas-e-Zikr</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link to_upper dropdown-toggle" id="lies" href="#" id="offcanvasNavbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  VIDEOS
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" id="drop-down">
                  <li><a class="dropdown-item to_upper" id="lies" href="ursmubarak_videos.html">ursmubarak vedios</a>
                  </li>
                  <li><a class="dropdown-item to_upper" id="lies" href="seminar_video.html">seminar vedios</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link to_upper dropdown-toggle" id="lies" href="#" id="offcanvasNavbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  BOOKS
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" id="drop-down">
                  <li><a class="dropdown-item to_upper" id="lies" href="Books.html">
                      books</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="shamsulmashaikh_books.html">shamsulmashaikh
                      books</a></li>
                  <li><a class="dropdown-item to_upper" id="lies" href="maqalatetasawuf_books.html">maqalatetasawuf
                      books</a></li>
                </ul>
              </li>
              <li class="nav-item"> <a class="nav-link to_upper" id="lies"
                  href="shamsulmashaikh_books.html">shamsulmashaikh BOOK</a> </li>
              <li class="nav-item"> <a class="nav-link to_upper" id="lies" href="contact.html">CONTACT US</a> </li>
              <li class="nav-item ">
                <a class="nav-link to_upper" id="lies" href="gallery.html" role="button">
                  GALLERY
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div style=" height: 200px;">

    </div>
  </header>
  <!-- main content -->
  <section id="courses" class="bg-lighter shadow bg-white py-3 px-2 my-5">
    <div class="container pb-60">
      <div class="section-title mb-10">
        <div class="row">
          <div class="col-md-8">
            <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Our <span
                class="text-theme-color-2 font-weight-400">{{name}}</span></h2>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">

          {%for event in events%}
          <div class="col-md-4">

            <div class="item ">
              <div class="service-block bg-white">
                <div class="thumb"> <img alt="featured project" src=".image.url" class="img-fullwidth">
                </div>
                <div class="content text-left flip p-25 pt-0">
                  <h4 class="line-bottom mb-10">{{event.title_english}}{{event.title_urdu}}</h4>
                  <p class="grid-overflow">{{event.detail_english}}</p>
                  <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10"
                    href="{%url 'eventdetail' event.id %}">view details</a>
                </div>
              </div>
            </div>


          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </section>

  <!-- ---------------------------------ADDRESS SECTION----------------------------------- -->
  <section id="address">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.5752956425913!2d74.87535391449923!3d32.10776222511528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39195479c954a85b%3A0x7d964a8ade87b707!2sChan%20Peer%20Darbar%20Narowal!5e0!3m2!1sen!2s!4v1639154576038!5m2!1sen!2s"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-4">
        <img class="mb-2" src="images/logos/Footer Logo.png" alt="Khanqah Logo">
        <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sequi ipsam molestiae blanditiis,
          velit incidunt dolor esse dicta.</p>
        <ul class="social-ico">
          <li> <a href="#"><i id="face-ico" class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i id="insta-ico" class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i id="you-ico" class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i id="link-ico" class="fab fa-linkedin-in"></i></a></li>
        </ul>

        <ul class="small list-unstyled mt-5" id="address-list">
          <li><i id="add-ico" class="fas fa-map-marker-alt"></i> Circular Road, Near Royal College (Girls Campus),
            Narowal</li>
          <li><i id="add-ico" class="fas fa-phone"></i> +92-333-00000000</li>
          <li><i id="add-ico" class="fas fa-mobile"></i> +92-333-00000000</li>
          <li><i id="add-ico" class="fas fa-envelope"></i> dummy@example.com</li>
          <li><i id="add-ico" class="fas fa-globe"></i> www.example.com</li>
        </ul>
      </div>
    </div>
  </section>



  <!-- ---------------------------------FOOTER SECTION----------------------------------- -->
  <footer class="pt-5 pb-1">
    <div class="container">
      <div class="text-center">
        <a href="#">
          <img class="mb-4" src="images/logos/Footer Logo.png" alt="Footer Logo"></a>
        <p>Alienum phaedrum torquatu pe us nihil expet in mei. Mei ula wit touch markersi m phaedrum tor lorim uilmes
          ilmes..</p>
      </div>
      <div class="row my-5">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 ps-3">
          <ul>
            <li> <a class=" to_upper active" href="index.html">HOME</a> </li>
            <li> <a class=" to_upper" href="intro.html">INTRODUCTION</a> </li>
            <li> <a class=" to_upper" href="massage.html">MESSAGE</a> </li>
            <li><a class="to_upper" href="educational_project.html">Educational Projects</a></li>
            <li><a class=" to_upper" href="idara_project.html">Idara Projects</a></li>
            <li><a class=" to_upper" href="welfare_project.html">Welfare Projects</a></li>
            <li><a class="to_upper" href="youth-wing.html">Youth wing Projects</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 ps-3">
          <ul>
            <li><a class="to_upper" id="lies" href="khanqah template\events\ruhaniijtima_events.html">ruhaniijtima</a>
            </li>
            <li><a class=" to_upper" href="khanqah template\events\Salana_Majlas-e-Isal-e-sawab.html">Salana
                Majlas-e-Isal-e-sawab</a>
            </li>
            <li><a class="to_upper" href="Salana_Majlas-e-shabina.html">Salana
                Majlas-e-shabina</a></li>
            <li><a class="to_upper" href="khanqah template\events\taswafseminar_events.html">taswaf seminar</a></li>
            <li><a class="to_upper" href="ursmubarak_events.html">ursmubarak</a></li>
            <li><a class="to_upper" href="visits_events.html">visits</a></li>
            <li><a class="to_upper" href="Weekly_Majlas-e-Zikr.html">Weekly
                Majlas-e-Zikr</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 ps-3">
          <ul>
            <li><a class="to_upper" href="ursmubarak_videos.html">ursmubarak vedios</a></li>
            <li><a class="to_upper" href="seminar_video.html">seminar vedios</a></li>
            <li><a class="to_upper" href="Books.html">
                books</a></li>
            <li><a class="to_upper" href="shamsulmashaikh_books.html">shamsulmashaikh
                books</a></li>
            <li><a class="to_upper" href="maqalatetasawuf_books.html">maqalatetasawuf
                books</a></li>
            <li> <a class="to_upper" href="contact.html">CONTACT US</a> </li>
            <li><a class="to_upper" href="gallery.html">GALLERY</a></li>
          </ul>
        </div>
      </div>
      <p class="text-center">Copyright &copy;2021. Developed by EhsasLab</p>
    </div>
  </footer>





  <!-- Masonry Grid External Library Links fo Gallery  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>

  <script>
    $('.grid').masonry({
      // set itemSelector so .grid-sizer is not used in layout
      itemSelector: '.grid-item',
      // use element for option
      columnWidth: '.grid-sizer',
      percentPosition: true
    })
  </script>

  <!-- ANIMATE ON SCROLL LINK -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <!-- BOOTSTRAP LINK -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>